<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Login</title>
  </head>
  <body>
    <%- include ("./nav.ejs") %>
	  
	<% if (message.length > 0) { %>
	  	<div class='container mt-4'>
			<div class="alert alert-danger"><%= message %></div>
		</div>
	<% } %>
	<div class='container mt-4'>
		<form action = "/login" method = "POST">
		  <div class="mb-3">
			<h1><span class="fa fa-sign-in"></span> 로그인</h1>
			
			<br>
			  
			<label for="exampleInputEmail1" class="form-label">Username</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
			<div id="emailHelp" class="form-text">당신의 정보는 안전하게 보관됩니다.</div>
		  </div>
		  <div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" name="password">
		  </div>
		  <div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">자동 로그인</label>
		  </div>
		  <button type="submit" class="btn btn-primary">login</button>
		</form>
		
		<hr>
			
		<p>계정이 없다면? <a href="/signup">회원가입하기</a></p>
		<button type="button" class="btn btn-light" onclick='location.href="/"'>Home</button>
	</div>
	  
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>