<input class="commentContents modifingcontents" value='<%= commentContents %>'>
<input type='hidden' value='<%=location %>'>
<span class="count badge badge-pill badge-info" id='modifyCommentBtn' data-id='<%=commentId %>' style='cursor:pointer;'>수정</span>