.comment {
	display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f7fff817;
    border: 1px solid rgb(134 208 107 / 48%);
    color: #363636;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    width: calc(69% - 1px);
    border-radius: 42px;
}

.nestedComment {
	display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f7fff817;
    /*border: 1px solid rgb(134 208 107 / 48%);*/
    color: #363636;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    width: calc(64%);
    border-radius: .25rem;
    margin-left: 5%;	
}

.commentContents {
	
}

.wrap_nestedComment_btn {
	width: calc(20%);
}

.nestedComment_btn {
    float: left;
    margin-left: 8px;
    padding: 10px 20px 8px 19px;
    border: solid 1px #bbb;
    font-size: 13px;
    border-radius: 42px;
    background-color: #fff;
    font-family: "Noto Sans Light","Malgun Gothic",sans-serif;
    color: #666;
}

.ops {
	position: absolute;
	top: 0;
	right: 0;
}

.btn-outline {
	color: #8a8686;
    border-color: #ffffff;
}

.dropdown-menu.show {
	z-index: 1000;
    float: left;
    min-width: 5rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff0;
    background-clip: padding-box;
    border-radius: .25rem;
    margin-top: 0;
    margin-right: .125rem;
    position: absolute;
    transform: translate3d(-100px, 0px, 0px)!important;
    top: 0px;
    left: 0px;
    will-change: transform;
}

img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}